@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html.dark ::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
